@model TRueBalance.Views.Shared._NoElementsPartial

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card-box">
            <h6>@Model.Message</h6>
        </div>
    </div>
</div>