 <!-- App Favicon -->
<link rel="shortcut icon" href="~/assets/Admin/images/favicon.ico">

<!-- App title -->
<title>Uplon - Responsive Admin Dashboard Template</title>

<!--Morris Chart CSS -->
<link rel="stylesheet" href="~/assets/Admin/plugins/morris/morris.css">

<!-- Switchery css -->
<link href="~/assets/Admin/plugins/switchery/switchery.min.css" rel="stylesheet" />

<!-- App CSS -->
<link href="~/assets/Admin/css/style.css" rel="stylesheet" type="text/css" />

<!-- Modernizr js -->
<script src="~/assets/Admin/js/modernizr.min.js"></script>