@model TRueBalance.Models.InvoiceViewModels.InvoiceViewModel
@{
    ViewBag.Title = "User Settings";
}

<div class="col-md-12">
    <h4 class="m-t-20 m-b-20">Sistema</h4>

    <div class="card-deck-wrapper">
        <div class="card-card-deck">
            <div class="row">
                <div class="col-xl-3">
                    <div class="card card-block">
                        <label>Cierre de caja</label>
                        <div class="pull-right">
                            <input id="CashBoxClosingFeature" type="checkbox" checked="" data-plugin="switchery" data-color="#039cfd" data-switchery="false" style="display: none;">
                        </div>
                    </div>
                </div><!---->
            </div>
        </div>
    </div>
</div>
<script>
    $('#CashBoxClosingFeature').click(function () {
        value = $(this).prop('checked');
        alert(value);
    });
</script>