<!--Modal CashBoxClosing_MakeSale-->
<div class="row">
    <div class="col-xs-12">
        <!-- modal content -->
        <div id="CashBoxClosing_MakeSale"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Alerta
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h4>El cierre de caja</h4>
                        <p style="text-align: justify;">
                            <span style="font-size: 12pt;">
                                Se encuentra activado, no se pueden realizar ventas
                                mientras esta funcion se ecuentre encendida
                            </span>
                        </p>
                        <p style="text-align: justify;">
                            <span style="font-size: 12pt;">
                                Para poderla desactivar dirigirse a
                                <strong>Configuracion > Opciones de ventas</strong>, o bien contacte al administrador del sistema
                            </span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-primary waves-effect"
                                data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>