 <!--Modal CashBoxClosing_Statics-->
<div class="row">
    <div class="col-xs-12">
        <!-- modal content -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">¿Desea realizar el cierre de caja?</h4>
                    </div>
                    <div class="modal-body">
                        <h4>El cierre de caja</h4>
                        <p style="text-align: justify;"><span style="font-size: 12pt;">Es una caracter&iacute;stica que sirve para mostrar estad&iacute;sticas y montos basados en la actividad del d&iacute;a.</span></p>
                        <p style="text-align: justify;"><span style="font-size: 12pt;">Una vez que usted acepta habilitar esta caracter&iacute;stica sucede lo siguiente:</span></p>
                        <ul>
                            <li style="text-align: justify;"><span style="font-size: 12pt;">Se eliminan todas las ordenes que se encuentran en pantalla.</span></li>
                            <li style="text-align: justify;"><span style="font-size: 12pt;">Se deshabilita la funci&oacute;n de ventas por lo que resta del d&iacute;a.</span></li>
                            <li style="text-align: justify;"><span style="font-size: 12pt;">El sistema realiza labores administrativas en segundo plano.</span></li>
                        </ul>
                        <p><span style="font-size: 12pt;">Ya que posee el conocimiento de esta funci&oacute;n <strong>&iquest;Desea habilitar esta funci&oacute;n por lo que resta del d&iacute;a?</strong></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                        <button id="MakeCashBoxClosingFeature" data-dismiss="modal" type="button" class="btn btn-primary waves-effect waves-light">Realizar cierre de caja</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>